*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color:#fff;
}
.App
{

  font-family:"Poppins";
 

}
.App-header
{
  font-size:50px;
  text-align: center;
  margin-top:2rem;
  color: #9CC3D5FF;
  font-weight: bold;

  
}
.Input-todo
{
  margin-left:35rem;
  padding-top:20px;
  
  
  
}
.todo-input
{
  width:25rem;
  height:40px;
  background-color: white;
  
  border: none;
  font-size: 20px;

  
}
.todo-btn
{
  height: 40px;
  width:45px;
  font-size:20px;
  margin-left:-45px;
  padding-bottom: -10px;
  margin-top:-100px;
  color:black;
  font-weight: 500;
  background-color: orange;
  border: none;
}
.display-todo
{
margin-top:10rem;
padding-top:60px;
margin-left:20rem;
min-height:400px;
width:1000px;
border:none;
background-color: #fff;

}