.display-lists
{
    margin-left:40rem;
    padding-top:10rem;
    

}
.list-item
{
    display: flex;
}
 input
{
    margin-top:10px;
    height: 17px;
    width: 17px;
}
.list-item p
{
    padding-left:20px;
    font-size: 27px;
}